Repository ryderstorm/shadow-tab: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-type-check, eslint, prettier, htmlhint, stylelint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

default_language_version:
  python: python3

default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg

fail_fast: false

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ["--unsafe"] # Allow custom YAML tags
      - id: check-toml
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        exclude: CHANGELOG.md

  # Conventional Commits enforcement
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional@19.6.0"

  # Secret scanning
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: ["--redact"]

  # Renovate config validator
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.39.2
    hooks:
      - id: renovate-config-validator

  # TypeScript, ESLint, Prettier, HTMLHint, and Stylelint hooks
  - repo: local
    hooks:
      - id: typescript-type-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        types: [file]
        files: \.(ts|tsx)$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$

      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|css|md)$

      - id: htmlhint
        name: HTMLHint
        entry: npx htmlhint
        language: system
        types: [file]
        files: \.html$

      - id: stylelint
        name: Stylelint
        entry: npx stylelint --fix
        language: system
        types: [file]
        files: \.css$

docs(specs): add validation report
  docs/specs/04-spec-playwright-test-suite/04-validation-playwright-test-suite.md
Due: prettier

build: resolve Prettier and markdownlint table formatting conflict
  .markdownlint.yaml
  docs/specs/04-spec-playwright-test-suite/04-proofs/04-task-06-proofs.md
  docs/specs/04-spec-playwright-test-suite/04-validation-playwright-test-suite.md
Due: prettier

ci: add CodeRabbit configuration with path exclusions
  .coderabbit.yaml
Due: none

fix(config): address CodeRabbit review feedback
  .pre-commit-config.yaml
  docs/testing.md
  newtab.js
Due: eslint, prettier

chore: release 0.1.1 [skip ci]
  CHANGELOG.md
  manifest.json
Due: prettier

feat: organize assets and integrate Shadow Tab icons
  assets/icons/icon-128x128.png
  assets/icons/icon-16x16.png
  assets/icons/icon-192x192.png
  assets/icons/icon-256x256.png
  assets/icons/icon-32x32.png
  assets/icons/icon-48x48.png
  assets/icons/icon-512x512.png
  assets/icons/icon-64x64.png
  assets/icons/icon-96x96.png
  docs/specs/05-spec-shadow-tab-rebrand/05-proofs/05-task-01-proofs.md
  docs/specs/05-spec-shadow-tab-rebrand/05-tasks-shadow-tab-rebrand.md
  docs/specs/05-spec-shadow-tab-rebrand/palette.png
  favicon.ico
  icon.svg
  manifest.json
  options.html
Due: prettier, htmlhint

fix: remove all remaining 'Dark New Tab' references from documentation and tests
  .github/renovate.json
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/development.md
  docs/testing.md
  tests/installation.spec.ts
Due: typescript-type-check, eslint, prettier

fix(ui): polish options page header and presets
  options.css
  options.html
  options.js
Due: eslint, prettier, htmlhint, stylelint

fix(ui): add new tab favicon links
  newtab.html
Due: htmlhint

feat(action): open options on toolbar click
  background.js
  manifest.json
  tests/installation.spec.ts
Due: typescript-type-check, eslint, prettier

docs: standardize default background color to #090909
  README.md
Due: prettier

test(manual): add playwright extension launch script
  assets/index.html
  package.json
  scripts/manual-test.js
Due: eslint, prettier, htmlhint

test(playwright): remove fixed sleeps and reduce flake
  tests/e2e.spec.ts
  tests/newtab.spec.ts
  tests/options.spec.ts
  tests/page-objects/NewTabPage.ts
Due: typescript-type-check, eslint, prettier

style(test): apply eslint formatting
  tests/e2e.spec.ts
Due: typescript-type-check, eslint, prettier

fix: shorten description in manifest.json to below 132 characters
  manifest.json
Due: prettier

docs: add privacy policy to satisfy Chrome Webstore requirements
  PRIVACY_POLICY.md
Due: prettier

docs(pages): add GitHub Pages landing and privacy policy
  docs/index.md
  docs/privacy-policy.md
Due: prettier
